* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.favouritepoetry--page {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/jpeg/book-1.jpeg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y: scroll;
}
