*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing--page{
    height:100vh;   
    width: 100%;
    background-image: url('../../assets/jpeg/book.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    text-align: center;
    background-attachment:fixed;
}

.landing--page1{
    height:50vh;
    width: 100%; 
    background-image: url('../../assets/jpeg/book-1.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    background-attachment: fixed;  
}

.landing--page2{
    /* border: 2px red solid; */
    background-color: black;
    height:100vh;
    width: 100%; 
    background-image: url('../../assets/jpeg/book-3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
} 