* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.latestpoetry--page {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(
    106.7deg,
    rgb(245, 167, 191) -6.2%,
    rgb(201, 218, 238) 46.4%,
    rgb(164, 240, 229) 86.4%
  ); */
  overflow-y: scroll;
  background-color: black;

}

.latestpoetry--page::-webkit-scrollbar {
  width: 1px;
}

.latestpoetry--page::-webkit-scrollbar-thumb {
  border-radius: 1px;
  /* background: linear-gradient(
    106.7deg,
    rgb(245, 167, 191) -6.2%,
    rgb(201, 218, 238) 46.4%,
    rgb(164, 240, 229) 86.4%
  ); */
  background-color: black;

  padding: 1rem;

}

/* LatestPoetry.css */

.header {
  /* Styles for the header */
  background-color: #333;
  padding: 1rem;
}

.header h3 {
  color: white;
  margin: 0;
}

.card-container {
  /* Add styles for the card container if needed */
  display: flex;
  flex-wrap: wrap; /* Wrap cards to next line if necessary */
  gap: 1rem; /* Add gap between cards */
}

.card {
  border-radius: 5px;
  padding: 0.5rem;
  flex-basis: calc(
    25% - 2rem
  );
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.card-header {
  /* Styles for the card header */
  background-color: #f8f8f8;
  padding: 1rem;
}

.card h4 {
  /* Add styles for the card title */
  margin: 0;
}

.card p {
  /* Add styles for the card content */
  /* margin-top: 0.5rem; */
}

@media (max-width: 768px) {
  .latestpoetry--page{
    overflow-y: scroll;
    padding: 1rem;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 1rem;
    /* overflow-y: scroll; */

  }

  .pagination-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust this value as needed */
    background-color: #f7f7f7;
    z-index: 10;
  }
  
}


.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-button {
  background: linear-gradient(
    106.7deg,
    rgb(150, 60, 87) -6.2%,
    rgb(201, 218, 238) 56.4%,
    rgb(12, 87, 76) 86.4%
  );  
  color: #FFFFFF; /* Set text color */
  margin-right: 10px; /* Set right margin */
  border-radius: 50%; /* Set border radius */
  cursor: pointer; /* Set cursor to pointer */
  font-size: 24px;
  margin-left: 10px;
  height: 7vh;
  width: 7vh;
  border: #89abe3ff;
  /* Add any other styles as needed */
}

.pagination-button:disabled {
  opacity: 0.5; /* Set opacity for disabled state */
  cursor: default; /* Set cursor to default for disabled state */
}

